<h1>{{title}}</h1>

<main>
<section id="inverted-contain">
  <div class="panzoom-parent">
  <canvas class="panzoom" id="workspace" width="600">

  </canvas>
  </div>
  <div class="buttons">
    <button id="detect">Detect Faces</button>
    <input type="range" class="zoom-range">
    <button class="reset">Reset</button>
  </div>
</section>
</main>