<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="javascripts/jquery-2.2.4.js"></script>
  <script src="javascripts/panzoom.js"></script>
  <script src="javascripts/havenondemand.js"></script>
</html>
