body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  position: relative;
}


#workspace {
  width: 600px;
  position: absolute;
}

.actions {
  width: 300px;
  left: 650px;
  position: absolute;
  background-color: yellow;
  height: 500px;
}
