body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@width: 600px;
@ratio: 3820 / 2964;

.panzoom-parent {
  box-sizing: content-box;
  border: 2px solid #333;
  display: inline-block;
  width: @width; 
  height: ceil(@width/@ratio);
}

#inverted-contain .panzoom { 
  width: @width; 
  height: ceil(@width/@ratio);
}

.inner {
  padding-top: 50px;
  padding-left: 50px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: red;
  position: absolute;
  top: 50px;
}

#resume {
  width : 350px;
  height: 200px;
  padding: 14px;
  display: none;
  background-color: #CCC;
  opacity: .95;
  word-break: break-word;
  overflow: auto;
}

.picture {
  display: block;
  text-align: center;
}